import os


class Config:
    app_name = "zettelkasten"
    db_uri = os.environ.get('POSTGRES_DB_URI') or "postgresql:///zettelkasten"
    redis_host = os.environ.get('REDIS_HOST') or "localhost"
    redis_port = os.environ.get('REDIS_PORT') or "6379"
    redis_db = os.environ.get('REDIS_DB') or "1"
    redis_password = os.environ.get('REDIS_PASSWORD') or "foobared"
    log_level = "INFO"
    logger_format = "%(asctime)-15s %(levelname)-5.5s [%(name)s] %(request_id)s %(message)s"

    enable_logging = bool(os.environ.get("APP_WEB_LOG_ENABLED")) or True
    web_logging_dir = os.environ.get("APP_WEB_LOG_DIR") or "/var/lib/zettelkasten/web_logs"

    jwt_secret = os.environ.get("APP_JWT_SECRET") or "jwt_secret"
    is_cors_enabled: bool = bool(os.environ.get("APP_IS_CORS_ENABLED")) or False
    file_storage = os.environ.get("APP_FILE_STORAGE") or "/var/zettelkasten/files"

    web_protocol = os.environ.get("APP_WEB_PROTOCOL") or "http"
    base_domain = os.environ.get("APP_BASE_DOMAIN") or "localhost"
    is_email_sending_allowed: bool = bool(os.environ.get("APP_IS_EMAIL_SENDING_ALLOWED")) or False

    smtp_sender = os.environ.get("APP_SMTP_SENDER") or ""
    smtp_server = os.environ.get("APP_SMTP_SERVER") or "smtp.yandex.ru"
    smtp_port = os.environ.get("APP_SMTP_PORT") or "465"
    smtp_login = os.environ.get("APP_SMTP_LOGIN") or ""
    smtp_password = os.environ.get("APP_SMTP_PASSWORD") or ""


class TestConfig(Config):
    db_uri = os.environ.get('TEST_POSTGRES_DB_URI') or "postgresql:///test_zettelkasten"
    redis_db = os.environ.get('TEST_REDIS_DB') or "0"
    is_email_sending_allowed: bool = False
