apiVersion: v1
kind: Secret
metadata:
  name: zettelkasten-postgres-secret
  namespace: zettelkasten
type: Opaque
data:
  postgres_uri: cG9zdGdyZXNxbDovL2RiX3VzZXI6ZGJfcGFzc3dvcmRAemV0dGVsa2FzdGVuLXBvc3RncmVzOjU0MzIvemV0dGVsa2FzdGVu
  postgres_user: ZGJfdXNlcg==
  postgres_password: ZGJfcGFzc3dvcmQ=
